<div class="topbar">
  <div class="topbar-container max-w-7xl mx-auto">
    
    <div class="topbar-contact">
      <span>
        <i class="pi pi-phone mr-1"></i> {{ institucional.telefono }}
      </span>
      <a [href]="'mailto:' + institucional.email" class="topbar-email">
        <i class="pi pi-envelope mr-1"></i> {{ institucional.email }}
      </a>
    </div>

    <div class="topbar-actions">
      <a href="https://unamba.edu.pe" target="_blank" rel="noopener noreferrer" class="intranet-link">
        <i class="pi pi-user mr-1"></i> Portal UNAMBA
      </a>
    </div>

  </div>
</div>


